body {
    background-image: url("https://ak6.picdn.net/shutterstock/videos/1424656/thumb/1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-size: 14px;
}

.error {
    color: red;
}

nav {
    background-color: black
    opacity: .5;
    color: white;
    padding: 10px;
}

label {
    color: #818181;
}

tr {
    color: #818181;
}

h1 {
    color: white;
    margin: 10px;
}

.btn-success {
    background-color: #656565;
    border-color: #000ba7;
    cursor: pointer;
}

.btn-danger {
    background-color: #656565;
    border-color: #000ba7;
    cursor: pointer;
}

.checkbox {
    margin: 10px;
    cursor: pointer;
}